/* Body styling */
/* Nav Bar */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #030b1e;
}

li, a, button {
	font-family: "Mona Sans", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: rgb(212, 212, 212);
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding: 20px 10px;
	border-bottom: 1px solid #333333;
	margin-right: 20rem;
	margin-left: 20rem;
}

.logo {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.title-text {
	font-family: "mona sans", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: white;
	margin-right: 21rem;
	letter-spacing: 0.5px;
	cursor: pointer; 
}

.sub-title {
	font-family: "mona sans", sans-serif;
	font-weight: 400;
	color: rgb(171, 171, 171);
	cursor: pointer; 
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	color:rgb(255, 255, 255)
}

/* X Feed */
.X-container {
	margin-top: 40px;
	margin-left: 35rem;
	margin-right: 35rem;
}

/* Before X feed */
.X-button {
	background-color: white;
	cursor: pointer;
	border: none;
	color: rgb(0, 0, 0);
	padding: 5px 15px;
	border-radius: 10px;
	text-decoration: none;
	margin-left: 87%;
}

.x-logo {
	background-color: white;
	padding:1px;
	width: 15px;
	height: 15px;
}

.latest-news {
	color: white;
	font-family: "mona sans", sans-serif;	
	font-weight: 400;
	font-size: 30px;
	margin-top: -2rem;
}

/* X Feed */
.post-rectangle {
	background-color: #030b1e;
	display: flex;
	gap: 10px;
	margin-top: 20px;
	height: auto;
  	width: 100%;
	border: 1px solid rgb(173, 173, 173);
	border-radius: 5px;
	padding: 15px;
}

.post-image {
	margin-top: 25px;
	display: flex;
	width: 90%;
	height: 82%;
	margin: left;
}

.date {
	color: rgb(155, 153, 153);
	font-family: "mona sans", sans-serif;	
	font-weight: 400;
	font-size: 15px;
	margin-top: 1.5rem;
}