* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Mona Sans", sans-serif;
	background-color: #010817;
}

/* Nav Bar */
nav {
	padding: 20px 10px;
	border-bottom: 1px solid #333333;
	display: flex;
}

nav ul {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav li {
	display: inline-block;
	/* transition: all 0.3s ease 0s; */
}

nav a {
	height: 100%;
	padding: 0px 20px;
	transition: all 0.3s ease 0s;
	align-items: center;
	display: flex;

	/* Font styling for navbar */
	font-family: "Mona Sans", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: rgb(212, 212, 212);
	text-decoration: none;
}

nav a:hover {
	color:rgb(255, 255, 255)
}

/* lists, a's and buttons for the post section aswell */
/* Deal with later */
li, a, button {
	font-weight: 500;
	font-size: 16px;
	color: rgb(212, 212, 212);
	text-decoration: none;
}

/* Home Logo & Name */
.home-part {
	display: flex;
	padding-left: 100px;
	/* border: 2px solid white; */
	width: 100%;
}

/* Sidebar */
.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 250px;
	z-index: 999;
	background-color: #030b1e;
	box-shadow: -10px 0 10px black;
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 15px;
	margin-top: 20px;
}

.sidebar li {
	width: 100%;
}

.sidebar a {
	width: 100%;
}

.close-button {
	margin-top: 5px;
	cursor: pointer;
}

.menu-button {
	display: none;
	cursor: pointer;
}

/* Logo and Name */
	/* Hide the nav links before it messes up the logo & name */
@media(min-width: 0px) {
	.mobile-title-text {
		display: none;
	}
	.sidebar {
		display: none;
	}
}
@media(max-width: 1150px) {
	.hideOnMobile {
		display: none;
	}
	.menu-button {
		display: block;
	}
	.title-text {
		display: none;
	}
	.sub-title {
		display: none;
	}
	.mobile-title-text {
		display: flex;
	}
	.home-part {
		padding-left: 10px;
	}
}

@media(max-width: 900px) {
	.latest-news {
		font-size: 20px !important;
	}
	.X-header-section {
		gap: 72% !important;
	}
}
@media(max-width: 700px) {
	.X-header-section {
		gap: min(62%, 580px) !important;
	}
}

.logo {
	display: flex;
	border-radius: 50%;
	padding: 0px 15px;
	height: 50px;
	cursor: pointer;
}

.title-text {
	font-weight: 600;
	font-size: 20px;
	color: white;
	letter-spacing: 0.5px;
	cursor: pointer; 
}

.mobile-title-text {
	font-weight: 600;
	font-size: 20px;
	color: white;
	cursor: pointer; 
	text-align: center;
	margin: auto;
	padding: 10px 0px;
}

.sub-title {
	font-weight: 400;
	color: rgb(171, 171, 171);
	cursor: pointer; 
}

/* Body */
/* X Feed header */
.body-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.X-header-section {
	display: flex;
	padding: 1%;
	border: 1px solid white;
	gap: 520px;
	/* width: 800px; */
	width: min(90%, 800px);
}

.latest-news {
	color: rgb(230, 227, 227);
	font-weight: 400;
	font-size: 30px;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.X-button {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	/* display: flex; */
	background-color: white;
	cursor: pointer;
	border: none;
	color: rgb(0, 0, 0);
	padding: 1% 2%;
	border-radius: 10px;
	text-decoration: none;
}

/* Logo on the follow me button */
.x-logo {
	background-color: white;
	padding: 1px 1px;
	width: auto;
	height: 15px;
}

/* X Feed */
.X-container, .x-feed {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Rectangle surrounding the posts */
.post-rectangle {
	background-color: #020610;
	display: flex;
	margin-top: 20px;
	align-items: left;
	border: 2px solid rgb(81, 81, 81);
	border-radius: 5px;
	padding: 15px 0px;
	width: 800px;
  	width: min(90vw, 800px);
	height: min(50%, 600px);
}

.post-logo {
	/* align-items: left;
	display: flex; */
	border-radius: 50%;
	padding: 0px 15px;
	height: 40px;
	cursor: pointer;
}

.post-container {
	display: flex;
	align-items: top;
	flex-direction: column;
	height: 100%;
}

.post-content {
	margin-top: 10px;
	color: white;
	font-size: 14px;
	letter-spacing: 0.5px;
	font-weight: 500;
	width: 90%;
}

/* Purely styling the images from real posts */
.post-image {
	display: flex;
	align-items: center;
	padding: 15px 0px;
	margin-right: 45px;
	width: 90%;
	/* width: 110%;
	height: 20%; */
	/* max-height: fit-content; */
	margin: left;
	border-radius: 2%;
}

.date {
	color: rgb(155, 153, 153);
	font-family: "mona sans", sans-serif;	
	font-weight: 400;
	font-size: 15px;
	margin-top: 5px;
}

.title-text-post {
	font-weight: 600;
	font-size: 16px;
	color: white;
	letter-spacing: 0.5px;
	cursor: pointer; 
}

.sub-title-post {
	font-family: "mona sans", sans-serif;
	font-weight: 400;
	color: rgb(171, 171, 171);
	cursor: pointer; 
	margin-top: 4px;
}

/* Sparningar Sida */
.sparningar {
	color: white;
}

.savings-container {
	margin-top: 7rem;
	margin-left: 25rem;
	margin-right: 25rem;
}

.estimated-savings {
	color: rgb(204, 204, 204);
	font-family: "mona sans", sans-serif;	
	font-weight: 400;
	font-size: 25px;
	display: inline;
	margin-left: 15rem;
}

.per-taxpayer {
	color: rgb(204, 204, 204);
	font-family: "mona sans", sans-serif;	
	font-weight: 400;
	font-size: 25px;
	display: inline;
	padding: 7rem;
	margin-right: 20%;
}

.estimated-savings-amount {
	color: rgb(213, 178, 2);
	font-family: "mona sans", sans-serif;	
	font-weight: 700;
	font-size: 50px;
	margin-left: 27%;
	min-width: 300px;
	max-width: 2px;
	display: inline;
}

.per-taxpayer-amount {
	color: rgb(213, 178, 2);
	font-family: "mona sans", sans-serif;	
	font-weight: 700;
	font-size: 50px;
	margin-left: 9rem;
	display: inline;
	max-width: 20%;
}

/* Utgifter Sida */
.utgifter {
	color: white;
}

.utgift-container {
	margin-top: 5rem;
	margin-left: 20rem;
	margin-right: 20rem;
	font-family: "mona sans", sans-serif;
	color: white;
	font-size: 13px;
}

table, th, td {
	font-family: "mona sans", sans-serif;
	color: white;
	width: 70%;
	padding: 1rem 5rem;
}


td {
	border-bottom: 0.2px solid rgb(48, 48, 48);
	font-family: "mona sans", sans-serif;
	color: rgb(255, 255, 255);
	font-size: 15px;
	letter-spacing: 0.5px;
	padding: 0.75rem;
}

table {
	width: 100%;
	margin-bottom: 5rem;
}

th {
	font-family: "mona sans", sans-serif;
	color: rgb(179, 179, 179);
	font-size: 17px;
	font-weight: 500;
	border-bottom: 0.2px solid rgb(48, 48, 48);
	padding: 1rem;
	text-align: left;
}

.money-font {
	font-family: 'Courier New', Courier, monospace;
}

/* Arbetskraft Sida */
.arbetskraft {
	color: white;
}

.regering-bild {
	place-items: center;
	display: grid;
}

/* Regleringar Sida */
.regleringar {
	color: white;
}

/* Länkar */
/* Sparningar */
.link-data {
	text-align: center; 
	margin-top: 5rem;
	font-size: 30px;
	cursor: pointer;
}

.link-button {
	background-color: white;
	cursor: pointer;
	border: none;
	color: rgb(85, 84, 84);
	padding: 5px 15px;
	border-radius: 10px;
	text-decoration: none;
	margin-bottom: 5rem;
}

.link-button:hover {
	background-color: rgb(202, 202, 202);
}

/* Utgifter */
.link-skuld {
	text-align: center; 
	margin-top: 5rem;
	font-size: 30px;
	cursor: pointer;
}

.link-button-skuld {
	background-color: white;
	cursor: pointer;
	border: none;
	color: rgb(85, 84, 84);
	padding: 5px 15px;
	border-radius: 10px;
	text-decoration: none;
	margin-bottom: 5rem;
}

.link-button-skuld:hover {
	background-color: rgb(202, 202, 202);
}

/* Arbetskraft */
.myndigheter {
	text-align: center; 
	margin-top: 5rem;
	font-size: 30px;
	cursor: pointer;
}

.myndigheter-button {
	background-color: white;
	cursor: pointer;
	border: none;
	color: rgb(85, 84, 84);
	padding: 5px 15px;
	border-radius: 10px;
	text-decoration: none;
	margin-bottom: 5rem;
}

.myndigheter-button:hover {
	background-color: rgb(202, 202, 202);
}

/* Regleringar */
.reg {
	margin-top: 3rem;
	font-size: 30px;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

.reg-button {
	background-color: white;
	cursor: pointer;
	border: none;
	color: rgb(85, 84, 84);
	padding: 5px 15px;
	border-radius: 10px;
	text-decoration: none;
	margin-bottom: 5rem;
}

.reg-button:hover {
	background-color: rgb(202, 202, 202);
}

/* Dropdown for utgifter */
.drop-btn {
	background-color: white;
	color: black;
	padding: 12px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 15px;
	width: 4rem;
	font-family: sans-serif;
	font-weight: 700;
	margin-bottom: 2rem;
}

.dropdown {
	position: relative;
	display: inline-block;
}

/* (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: rgb(255, 255, 255);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
.dropdown-content a:hover {
	background-color: rgb(225, 225, 225);
}

.dropdown:hover .dropdown-content{
	display: block;
}

.dropdown:hover .drop-btn {
	background-color: rgb(180, 180, 180);
}

